/*Styles used in flat page*/

.flatRow {
    margin-top: 80px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.flath4 {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #41307c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    margin: 1%;
}

.sites {
    float: left;
    height: 406px;
    background-color: #ffffff;
    padding: 1%;
    margin-right: 2%;
}

.sites {
    overflow-y: auto;
}

.info,
.map {
    height: 406px;
    background-color: #ffffff;
    float: right;
    padding: 1%;
}

.info {
    overflow-y: auto;
}

.map,
.comments {
    width: 56%;
}

.comments,
.flat-history {
    height: 406px;
    background-color: #ffffff;
    padding: 1%;
    overflow-y: auto;
}

.comments {
    float: left;
    margin-bottom: 2%;
}

.flat-history {
    float: right;
    margin-bottom: 2%;
}

.container {
    float: right;
    margin-right: 2%;
    text-align: right;
}

button.accordion {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 1%;
}

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

.accord {
    padding: 0 18px;
    display: none;
    background-color: white;
    width: 88%;
}

.accord.show {
    display: block;
}

#article-photo-carousel {
    border: 3px solid #FFFFFF;
}

#article-photo-carousel .carousel-inner .item img {
    height: inherit;
    max-height: 400px;
    min-height: 400px;
    margin: auto;
}


/* Indicators list style */

#article-photo-carousel .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}


/* Indicators list style */

#article-photo-carousel .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 36px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 50px;
}


/* Indicators images style */

#article-photo-carousel .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 36px;
    left: 0;
    width: 50px;
}


/* Indicators active image style */

#article-photo-carousel .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}