/*File with css styles used in project for the main page*/

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #32255f;
    background-color: #e7e7e7;
}

h1 {
    color: #fff;
}

a {
    color: #32255f;
    text-decoration: none;
}

.cd-filter {
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
}

.cd-filter::before {
    background-color: #41307c;
}

.cd-close {
    height: 50px;
    width: 60%;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    background: #32255f;
    margin-left: 10%;
    margin-bottom: 2%;
}

.cd-close:hover {
    background: #41307c;
    color: #ffffff;
}


/* -------------------------------- 

xcustom form elements 

-------------------------------- */

.cd-filter-block {
    margin-bottom: 1.6em;
}

.cd-filter-block h4 {
    /* filter block title */
    /*position: relative;*/
    margin-bottom: .2em;
    padding: 3px 0 3px 5px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
}

.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block input[type='number'],
.cd-filter-block select,
.cd-filter-block .roomNumbers {
    margin-bottom: 2px;
    padding: 0;
    font-size: 1.4rem;
    height: 2.2em;
    margin-left: 1.0em;
    font-weight: 400;
}

.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
    width: 70%;
}

.cd-filter-block input[type='number'] {
    width: 25%;
}

.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block input[type='number']:focus,
.cd-filter-block select:focus,
{
    outline: none;
    border-color: #41307c;
}

.cd-filter-block input[type='search'],
.cd-filter-block input[type='number'],
.cd-filter-block select {
    /* custom style for the search element */
    border-color: transparent;
    background-color: #e6e6e6;
    /* prevent jump - ios devices */
    font-size: 1.6rem !important;
}

.flat-panel {
    margin: 1%;
    padding: 2%;
    height: 250px;
    background-color: #fff;
}

.flat-panel:last-of-type {
    margin: 1% 1% 5% 1%;
    padding: 2%;
    height: 250px;
    background-color: #fff;
}

.flat-footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: auto;
}

.btn-group>a.active {
    background-color: #32255f;
    color: #fff;
    padding: 2 1 2 1;
}

.btn-group>a {
    color: #32255f;
    background-color: #fff;
    padding: 2 1 2 1;
}

.btn-group>a: hover {
    color: #41307c;
    background-color: #fff;
    padding: 2 1 2 1;
}

.priceOrder {
    float: right;
    margin-right: 1%;
}

.gallery {
    height: 100%;
    margin-bottom: 5%;
}

.price {
    font-weight: bold;
    font-size: 18px;
}

.address {
    font-size: 22px;
    margin: 1%;
}

.more {
    bottom: 1%;
    float: right;
    width: 20%;
    padding: auto;
}

.galleryImage {
    margin: auto;
    max-height: 200px;
    min-height: 200px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

::-webkit-scrollbar-thumb:active {
    background-color: #717171;
}